.title {
    font-size: 50px;
    color: var(--title-color);
}

.buttons-container {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.floated {
    float: left;
    margin: 40px 100px;
    text-align: center;
    cursor: pointer;
}

.buttons_slide1 {
    color: var(--blue-color);
    font-size: 40px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.buttons_slide1:hover {
    color: var(--blue-color-dark);
}

.play {
    font-size: 30px;
    padding: 4px 30px;
    display: inline-block;
    text-decoration: none;
    color: var(--blue-color);
    background-color: var(--light-color);
    border: 4px solid var(--blue-color);
    border-radius: 5%;
}

.play:hover {
    padding: 8px 34px;
    background: var(--blue-color);
    color: var(--light-color);
    border: none;
    text-decoration: none;
}

.slide {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 610px;
    width: 1300px;
    transform-style: preserve-3d;
    font-size: 20px;
    background-color: var(--light-color-w-opacity);
    border-radius: 20px;
    box-shadow: 0 5px 40px -10px grey;
}

.slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-slide {
   margin: 5px auto;
}

.arrow {
    margin: auto 70px;
    color: var(--dark-color);
    opacity: 0.4;
    cursor: pointer;
    font-size: 100px;
}

.arrow:hover {
    color: var(--dark-color);
    opacity: 1;
}

.pulse {
  height: 25px;
  width: 25px;
  float: left;
  position: absolute;
  border-radius: 50%;
  background-color: var(--pulse-color);
  animation: pulse 2.5s linear infinite;
  cursor: pointer;
}

.pulse_click {
    opacity: 1;
    height: 25px;
    width: 25px;
    float: left;
    position: absolute;
    border-radius: 50%;
    background-color: var(--pulse-color);
    cursor: pointer;
}

.pulse:hover {
    animation: none;
}

.press_buttons {
    height: auto;
    width: 200px;
    position: absolute;
    border-radius: 5%;
    color: var(--dark-color);
    border: var(--blue-color) solid;
    padding: 10px;
}
@keyframes pulse{
  0%, 100%{
    transform: scale(0.4);
      opacity: 0.7;
  }
  50%{
    transform: scale(1);
    opacity: 1;

  }
}

.popover {
    opacity: 0;
    visibility: hidden;
    font-size: 17px;
    position: absolute;
    border-radius: 20px;
    background-color: var(--dark-color);
    padding: 20px;
    color: var(--light-color);
    cursor: text;
}
.popover:before {
    position: absolute;
    content: "";
    top: -3px;
    transition-duration: 0.6s;
    transition-property: transform;
}
.pulse:hover .popover {
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    z-index:1;
}

.popover_click {
    font-size: 17px;
    position: absolute;
    border-radius: 20px;
    background-color: var(--dark-color);
    padding: 20px;
    color: var(--light-color);
    opacity: 1;
    visibility: visible;
    transform: none;
    z-index:1;
    cursor: text;
}