@import "results.css";
@import "utils.css";
@import "about.css";
@import "play.css";
@import "home.css";
@import "resources.css";

:root {
  --blue-color: rgba(26, 163, 255, 0.8);
  --blue-color-dark: rgba(25, 75, 180, 0.8);
  --light-color: #f0f0f0;
  --gray-color: #cecece;
  --light-color-w-opacity: rgba(240, 240, 240, 0.5);
  --dark-color: #2e2e2e;
  --title-color: #646464;
  --pulse-color: #b225e6;
}


html {
  height: 100%;
  font-family: sans-serif;
  background-color: var(--light-color);
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.nav-container {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: var(--blue-color);
}

.bbglab-icon {
  background-color: var(--light-color);
}

.cancer-detective-title {
  color: var(--light-color);
  font-size: 70px;
  margin: 0px 0px 25px 50px;
  font-family: sans-serif;
  font-weight: 900;
}

.topnav-container {
  position: absolute;
  bottom: 20%;
  right: 10%;
}

ul.topnav {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: left;
  margin: 0 5px;
}

ul.topnav li a {
  border-bottom: 5px solid var(--light-color);
  color: var(--light-color);
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 25px;
}

a.nav-item:visited, a.nav-item:link {
  text-align: center;
  border: none;
  display: inline-block;
}

a.nav-item:link:hover, a.nav-item:visited:hover {
  border-bottom: 5px solid var(--light-color-w-opacity);
}

.content-container {
  margin: auto 0;
}

div.footer-container {
  padding: 25px 0;
  background-color: var(--blue-color);
  color: var(--dark-color);
}

div.footer-container .social {
  text-align: center;
  font-size: 30px;
}

div.footer-container .social > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  color: var(--light-color);
  opacity: 0.85;
}

div.footer-container .social > .github-icon {
  border-radius: 50%;
  border: 1px solid var(--light-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 30px;
  margin: 0 10px;
}

.footer-container .social > a:hover {
  opacity: 1;
}

.location {
  text-decoration: none;
  color: var(--light-color);
  font-size: 20px;
  opacity: 0.85;
}

.location:hover {
  text-decoration: none;
  opacity: 1;
  color: var(--light-color);
}