html
  height: 100%

body
  min-height: 100%

// https://gist.github.com/bsakhanov/ac57cfc5a9ffa28d215ac4318686f823
=backfaceVisibility($property)
  -webkit-backface-visibility: $property
  backface-visibility: $property

.uk-card
  .card-face.back
    display: none
  .card-face
    display: block

.flipped
  .back
    display: block !important
    +backfaceVisibility(visible)
    backface-visibility: visible
  .front
    display: none


.tab
  display: none
