<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CGI game</title>
    <meta name="description" content="A game based on CGI">
    <meta name="author" content="BBGLab">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>

<body>

    {% block content %}{% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>


    <!-- Sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% block script %}{% endblock %}

</body>
<link rel="stylesheet" type="text/css" href="css/style.css?v=5" />
<script src="./js/utils.js?v=1"></script>
</html>