<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CGI game</title>
    <meta name="description" content="A game based on CGI">
    <meta name="author" content="BBGLab">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

    <link rel="stylesheet" href="css/style.css"/>

</head>

<body>

    {% block content %}{% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>


    <!-- Sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- local script -->
    <script src="js/script.js?v=2"></script>

    {% block script %}{% endblock %}

</body>
</html>