{% extends "layout.html" %}

{% set active_page = 'home' %}

{% block central_content %}

    <div class="slide">
        <div class="arrow">
        </div>
        <div class="slide-content">

            <img src="images/cancer-detective-logo.png" alt="CancerDetective" style="max-height: 170px;"/>
            <p class="title">
                An analysis simulation to learn
                <br>
                about cancer and mutations
            </p>

            <div class="buttons-container">
                <div class="floated">
                    <a class="skip-intro" href="play">Skip introduction</a>
                </div>
            </div>
        </div>
        <div class="arrow" onclick="moveForward(event)" data-index="1">
            <i class="icon ion-chevron-right" ></i>
        </div>

    </div>

    <div class="slide">
        <div class="arrow" onclick="moveBack(event)" data-index="2">
            <i class="icon ion-chevron-left"></i>
        </div>
        <div class="slide-content">
                <div class="pulse" style="left: 34%; top: 6%;">
                    <div class="popover" style="left: -170px; top: -500%; width: 320px;">
                        <b>Cells</b> are the basic units of our bodies, the "building blocks of life".<br>
                        They group in different parts of our bodies to form tissues and organs.
                    </div>
                </div>

                <div class="pulse" style="left: 45%; top: 16%;">
                    <div class="popover" style="left: 200px; top: -200%; width: 440px;">
                         The <b>nucleus</b>, the “control center of the cell”,  holds the <b>genome</b>, formed by long strings of <b>DNA</b> (a molecular code made of 4 letters called nucleotides), tightly packed in chromosomes. <br>
                         The <b>genome</b> contains the information for the cell to carry out its multiple functions.
                    </div>
                </div>

                <div class="pulse" style="left: 49%; top: 41%;">
                    <div class="popover" style="left: -730px; top: 150%; width: 400px;">
                        The genome contains <b>genes</b>, the “basic units of heredity”, some sort of instructions to form mostly <b>proteins</b>: the macromolecular machines that carry out most cellular functions.<br>
                        The <b>genes</b>, encoded in <b>DNA</b>, are transcribed into <b>RNA</b>, the message that can leave the nucleus and be translated into <b>proteins</b>.
                    </div>
                </div>



            <img class="img-slide" src="images/slides/fig1_slide.png" style="width: 550px; height: 433px;">
            <p>
                The branch of biology that studies the genomes of tumours is known as <b>Cancer Genomics</b>. Before explaining what Cancer Genomics is, let’s look at the basic structures of our bodies: the <b>cells</b>.
            </p>
        </div>
        <div class="arrow" onclick="moveForward(event)" data-index="2">
            <i class="icon ion-chevron-right" ></i>
        </div>

    </div>

    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="3">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="pulse" style="left: 33%; top: 12%;">
            <div class="popover" style="left: -170px; top: -700%; width: 320px;">
                <b>Mutations</b> are errors or changes in the DNA sequence of a cell. <br>
                Most mutations do not affect proteins, but those that fall into genes that form proteins can result in mutant or aberrant proteins.
            </div>
        </div>

        <div class="pulse" style="left: 20%; top: 12%;">
            <div class="popover" style="left: -450px; top: -200%; width: 380px;">
                <b>Mutations</b> are created by many different mechanisms that we call <b>mutational processes</b>. <br>
                Some mutations are created by external factors such as <b>UV light<b> or </b>smoking</b>, and others are generated by internal cellular processes like <b>ageing</b>.
            </div>
        </div>

        <div class="pulse" style="left: 76%; top: 12%;">
            <div class="popover" style="left: 50px; top: 120%; width: 350px">
                <b>Mutant proteins</b> are those that contain errors. Some errors can affect the function of the protein and disturb normal cellular functions.
            </div>
        </div>

        <div class="pulse" style="left: 70%; top: 45%;">
            <div class="popover" style="left: 50px; top: 120%; width: 360px">
                For example, if a mutation affects a protein controlling cellular growth and cell division, cells can grow or proliferate more than usual.
            </div>
        </div>

        <div class="slide-content">
            <img class="img-slide" src="images/slides/fig2_slide.svg" style="width: 750px; height: 533px;">
            <p>
                The DNA of our cells accumulates errors or mutations naturally during our life. <br>
                What are mutations and what effects do they have? What can cause them?
            </p>
        </div>
        <div class="arrow" onclick="moveForward(event)" data-index="3">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>


    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="4">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="pulse" style="left: 20%; top: 25%;">
            <div class="popover" style="left:  -450px; top: -230%; width: 380px">
                Different cells have different mutations. When a cell contains a mutation that makes it grow and proliferate faster than its neighboring cells, we say that cell has a <b>selective advantage</b> to proliferate.
            </div>
        </div>

        <div class="pulse" style="left: 40%; top: 45%;">
            <div class="popover" style="left: 50px; top: 120%; width: 360px">
                Mutations that confer selective advantage to a cell are called <b>cancer driver mutations</b>.<br>
                The genes or proteins that are affected by cancer driver mutations are called <b>cancer driver genes</b> or <b>proteins</b>.
            </div>
        </div>

        <div class="pulse" style="left: 82%; top: 25%;">
            <div class="popover" style="left: -170px; top: -700%; width: 370px;">
                <b>Cancer</b> is a group of diseases characterized by the uncontrolled growth and proliferation of cells within the body. <br>
                <b>Cancers</b> or <b>malignant tumors</b> can arise if cells accumulate 4-6 cancer driver mutations.
            </div>
        </div>

        <div class="slide-content">
            <img class="img-slide" src="images/slides/fig3_slide.svg" style="width: 900px">
            <p>
                Cancer arises through the subsequent accumulation of cancer driver mutations that confer cells with an advantage to proliferate over its neighbours.
            </p>
        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="4">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>


    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="5">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="slide-content">
            <img class="img-slide" src="images/slides/fig4_slide.png" style="width: 550px; height: 433px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum curabitur vitae nunc sed velit dignissim.
            </p>
        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="5">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>


    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="6">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="slide-content">
            <div class="floated">
                <a class="play" href="play" type="button">Start <br> Analysis</a>
            </div>
        </div>

        <div class="arrow">
        </div>
    </div>
    <!--<p class="title">
            A game to learn about cancer
            <br>
            and mutations
        </p>

         <div class="buttons-container">
            <div class="floated">
                <a class="play" href="play" type="button">Play</a>
            </div>
            <div class="floated">
                <a class="read-about" href="about">Read about</a>
            </div>
        </div>-->

    <script src="./js/home.js?v=1"></script>
{% endblock %}