{% extends "layout.html" %}

{% set active_page = 'home' %}

{% block central_content %}

    <div class="slide" >

        <div class="slide-content" >

            <img src="images/cancer-detective-logo.png" alt="CancerDetective" style="max-height: 170px;"/>
            <p class="title">
                A simulation to learn
                <br>
                about cancer and mutations
            </p>

            <div class="buttons-container">
                <div class="floated">
                    <a class="buttons_slide1" onclick="moveForward(event)"  data-index="1">Start</a>
                </div>

            </div>
            <div style="margin-left:70%; margin-top: -8%;margin-bottom: -5%;color: var(--title-color); ">
                    <p > Not your first time here? <br> <a class="buttons_slide1_small" href="play">Skip introduction</a></p>
            </div>
        </div>


    </div>

    <div class="slide">
        <div class="arrow" onclick="moveBack(event)" data-index="2">
            <i class="icon ion-chevron-left"></i>
        </div>
        <div class="slide-content">
            <p>
                The branch of biology that studies the genomes of tumours is known as <b>Cancer Genomics</b>. Before explaining what Cancer Genomics is, let’s look at the basic structures of our bodies: the <b>cells</b>.
            </p>
                <div class="press_buttons" style="left: 10%; top: 21%;" >
                        <b>Press the purple buttons to learn more!</b>
                </div>

                <div class="pulse" style="left: 34%; top: 21%;" onclick="pinPulse(event)">
                    <div class="popover" style="left: -170px; top: -500%; width: 320px;">
                        <b>Cells</b> are the basic units of our bodies, the "building blocks of life".<br>
                        They group in different parts of our bodies to form tissues and organs.
                    </div>
                </div>

                <div class="pulse" style="left: 45%; top: 31%;" onclick="pinPulse(event)">
                    <div class="popover" style="left: 200px; top: -200%; width: 440px;">
                         The <b>nucleus</b>, the “control center of the cell”,  holds the <b>genome</b>, formed by long strings of <b>DNA</b> (a molecular code made of 4 letters called nucleotides), tightly packed in chromosomes. <br>
                         The <b>genome</b> contains the information for the cell to carry out its multiple functions.
                    </div>
                </div>

                <div class="pulse" style="left: 49%; top: 60%;" onclick="pinPulse(event)">
                    <div class="popover" style="left: -730px; top: 150%; width: 400px;">
                        The genome contains <b>genes</b>, the “basic units of heredity”, some sort of instructions to form mostly <b>proteins</b>: the macromolecular machines that carry out most cellular functions.<br>
                        The <b>genes</b>, encoded in <b>DNA</b>, are transcribed into <b>RNA</b>, the message that can leave the nucleus and be translated into <b>proteins</b>.
                    </div>
                </div>

            <img class="img-slide" src="images/slides/fig1_slide.png" style="width: 550px; height: 433px;">

        </div>
        <div class="arrow" onclick="moveForward(event)" data-index="2">
            <i class="icon ion-chevron-right" ></i>
        </div>

    </div>

    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="3">
            <i class="icon ion-chevron-left"></i>
        </div>
        <div class="slide-content">

            <p>
                The DNA of our cells accumulates errors or mutations naturally during our life. <br>
                What are mutations and what effects do they have? What can cause them?
            </p>

        <img class="img-slide" src="images/slides/fig2_slide.svg" style="width: 750px; height: 533px;">

        <div class="pulse" style="left: 33%; top: 25%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -170px; top: -700%; width: 320px;">
                <b>Mutations</b> are errors or changes in the DNA sequence of a cell. <br>
                Most mutations do not affect proteins, but those that fall into genes that form proteins can result in mutant or aberrant proteins.
            </div>
        </div>

        <div class="pulse" style="left: 20%; top: 25%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -450px; top: -200%; width: 380px;">
                <b>Mutations</b> are created by many different mechanisms that we call <b>mutational processes</b>. <br>
                Some mutations are created by external factors such as <b>UV light<b> or </b>smoking</b>, and others are generated by internal cellular processes like <b>ageing</b>.
            </div>
        </div>

        <div class="pulse" style="left: 76%; top: 27%;" onclick="pinPulse(event)">
            <div class="popover" style="left: 50px; top: 120%; width: 350px">
                <b>Mutant proteins</b> are those that contain errors. Some errors can affect the function of the protein and disturb normal cellular functions.
            </div>
        </div>

        <div class="pulse" style="left: 70%; top: 70%;" onclick="pinPulse(event)">
            <div class="popover" style="left: 50px; top: 120%; width: 360px">
                For example, if a mutation affects a protein controlling cellular growth and cell division, cells can grow or proliferate more than usual.
            </div>
        </div>
        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="3">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>


    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="4">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="pulse" style="left: 15%; top: 35%;" onclick="pinPulse(event)">
            <div class="popover" style="left:  -450px; top: -230%; width: 380px">
                Different cells have different mutations. When a cell contains a mutation that makes it grow and proliferate faster than its neighboring cells, we say that cell has a <b>selective advantage</b> to proliferate.
            </div>
        </div>

        <div class="pulse" style="left: 30%; top: 58%;" onclick="pinPulse(event)">
            <div class="popover" style="left: 90px; top: 220%; width: 500px">
                Mutations that confer selective advantage to a cell are called <b>cancer driver mutations</b>.<br>
                The genes or proteins that are affected by cancer driver mutations are called <b>cancer driver genes</b> or <b>proteins</b>.
            </div>
        </div>

        <div class="pulse" style="left: 86%; top: 35%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -170px; top: -700%; width: 370px;">
                <b>Cancer</b> is a group of diseases characterized by the uncontrolled growth and proliferation of cells within the body. <br>
                <b>Cancers</b> or <b>malignant tumors</b> can arise if cells accumulate 4-6 cancer driver mutations.
            </div>
        </div>

        <div class="slide-content">
            <p>
                Cancer arises through the subsequent accumulation of cancer driver mutations that confer cells with an advantage to proliferate over its neighbours.
            </p>
            <img class="img-slide" src="images/slides/fig3_slide.svg" style="width: 900px">
        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="4">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>


    <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="5">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="pulse" style="left: 13%; top: 45%;" onclick="pinPulse(event)">
            <div class="popover" style="left:  -190px; top: -740%; width: 380px">
                The <b>tumors</b> of different patients have different sets of <b>driver mutations</b>, which are the key alterations that control the development of cancers.
                Cancer cells' survival relies on the effect of <b>driver mutations</b>.
            </div>
        </div>

        <div class="pulse" style="left: 50%; top: 40%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -150px; top: -450%; width: 300px;">
                <b>Targeted therapies</b> can specifically kill cancer cells by acting on the effect of driver mutations.
            </div>
        </div>

        <div class="pulse" style="left: 85%; top: 45%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -235px; top: -740%; width: 470px;">
                Knowing the driver alterations in a patient gives us valuable information such as the type of therapy that can be beneficial for them. <br>
                Giving personalized treatments can improve the outcome of cancer patients.
                This is called <b>precision cancer medicine</b>.

            </div>
        </div>


        <div class="slide-content">
            <p>
                The genomic alterations found in the tumors of cancer patients are different. Identifying cancer drivers in each patient can help to provide better treatments.
            </p>
            <img class="img-slide" src="images/slides/fig4_slide.svg" style="width: 900px; height: 433px;">

        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="5">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>

     <div class="slide">

        <div class="arrow" onclick="moveBack(event)" data-index="6">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="pulse" style="left: 11%; top: 35%;" onclick="pinPulse(event)">
            <div class="popover" style="left:  -370px; top: -230%; width: 310px">
                First, we need to know the mutations that are in the cancer genomes of many cancer patients. <br>
                Thanks to many patients and projects from around the globe, we have access to these data.
            </div>
        </div>

        <div class="pulse" style="left: 16%; top: 60%;" onclick="pinPulse(event)">
            <div class="popover" style="left:  -480px; top: -230%; width: 420px">
                Second, we need computational tools that help us to identify which proteins are cancer drivers. <br>
                We have developed <b>IntOGen</b>, a unified resource that merges information from different statistical methods and identifies cancer driver proteins across many cancer types.
            </div>
        </div>

        <div class="pulse" style="left: 32%; top: 94%;" onclick="pinPulse(event)">
            <div class="popover" style="left:  -600px; top: -240%; width: 440px">
                Then, <b>BoostDM</b>, a machine learning algorithm, can predict which mutations within cancer driver proteins are actually driver mutations.
            </div>
        </div>

         <div class="pulse" style="left: 70%; top: 62%;" onclick="pinPulse(event)">
            <div class="popover" style="left: -235px; top: -750%; width: 470px;">
                Finally, we can use <b>The Cancer Genome Interpreter</b>, which is an algorithm that uses the data generated by <b>IntOGen</b>, <b>BoostDM</b> and other resources to inform us whether a mutation in a protein is a cancer driver and if there is a specific therapy for cancers with this alteration.
            </div>
         </div>



        <div class="slide-content">
            <p>
                Finding cancer drivers is a challenge.
                Cancers have from 100 to 100,000 of mutations, but we know that only a small percentage of them are cancer drivers.
                So how can we find them?
            </p>
            <img class="img-slide" src="images/slides/fig5_slide.png" style="width: 900px; height: 433px;">

        </div>

        <div class="arrow" onclick="moveForward(event)" data-index="6">
            <i class="icon ion-chevron-right" ></i>
        </div>
    </div>

    <div class="slide" >

        <div class="arrow" onclick="moveBack(event)" data-index="7">
            <i class="icon ion-chevron-left"></i>
        </div>

        <div class="slide-content">
            <div class="floated">
                <img src="images/cancer-detective-logo.png" alt="CancerDetective" style="max-height: 170px;"/>
                <img src="images/bbglab-logo.png" alt="CancerDetective" style="max-height: 170px;"/>
            </div>
            <div class="floated">
                <a class="play" href="play" type="button">Start Analysis</a>
            </div>
        </div>

        <div class="arrow">
        </div>
    </div>

    <script src="./js/home.js"></script>
{% endblock %}