{% extends "base.html" %}
{% from "utils.html" import navbar_item %}

{% set active_page = active_page or path_info() -%}

{% block content %}

    <!-- NavBar -->
    <div class="nav-container">
        <div class="bbglab-icon">
            <a href="https://bbglab.irbbarcelona.org/" target="_blank">
                <img src="images/bbglab-logo.png" alt="BBGLab" style="max-height: 125px"/>
            </a>
        </div>
        <h1 class="cancer-detective-title">Cancer Detective</h1>
        <div class="topnav-container">
            <ul class="topnav">
                {{ navbar_item('Home', active_page, 'home') }}
                {{ navbar_item('Play', active_page, 'play') }}
                {{ navbar_item('About', active_page, 'about') }}
            </ul>
        </div>
    </div>


   <!-- Main content -->
    <div class="content-container">
        {% block navbar_middle %}{% endblock %}
        {% block central %}
            {% block central_content %}{% endblock %}
        {% endblock %}
    </div>


    <div class="footer-container">
        <footer>
            <div class="social">
                <a class="github-icon" href="https://github.com/bbglab/cancer-detective" target="_blank">
                    <i class="icon ion-social-github"></i>
                </a>
                <a href="https://twitter.com/bbglab" target="_blank">
                    <i class="icon ion-social-twitter"></i>
                </a>
                <!--<a href="about">About</a>-->
                <!--<span class="location"><a class="location" href="https://bbglab.irbbarcelona.org/" target="_blank">BBGLab</a>
                    - <a class="location" href="https://www.irbbarcelona.org/en" target="_blank">IRB Barcelona</a></span>
            -->
            </div>
        </footer>
    </div>

{% endblock %}