{% extends "base.html" %}
{% from "utils.html" import navbar_item %}

{% set active_page = active_page or path_info() -%}

{% block content %}
<div class="uk-section uk-section-primary uk-padding-remove-vertical">

    <!-- NavBar -->
    <div class="uk-navbar-container uk-navbar-transparent" id="navbar">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo">
                        <img src="images/bbglab-logo.png" alt="BBGLab" style="max-height: 50px"/>
                    </a>
                </div>
                <div class="uk-navbar-center">
                    {% block navbar_middle %}{% endblock %}
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {{ navbar_item('Home', active_page, 'home') }}
                        {{ navbar_item('Play', active_page, 'game') }}
                        {{ navbar_item('About', active_page, 'about') }}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Main content -->
    {% block central %}
    <div class="uk-section uk-flex uk-flex-middle uk-text-center" id="main-content">
        <div class="uk-width-1-1">
            <div class="uk-container">
                {% block central_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}


    <!-- Footer-->
    <footer class="uk-section-small" id="footer">
        <div class="uk-container uk-container-expand uk-text-center uk-position-relative">
            {% block footer %}
            <ul uk-margin="" class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom">
                <li>
                    <a href="">Github</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
            </ul>
            {% endblock %}
        </div>
    </footer>

</div>
{% endblock %}



{% block script %}
<script>
    $( document ).ready(function() {
        maximizeHeight("#main-content", ["#navbar", "#footer"]);
    });
    $( window ).resize(function() {
        maximizeHeight("#main-content", ["#navbar", "#footer"]);
    });
</script>
{% endblock %}
