{% extends "layout.html" %}
{% from "utils.html" import info, card %}

{% set active_page = 'play' %}

{% block navbar_middle %}
<div class="slider-nav" id="nav">
  <button class="btn-nav active step" data-index="0" onclick="selectStep(event)"></button>
  <button class="btn-nav step" data-index="1"></button>
  <button class="btn-nav step" data-index="2"></button>
  <button class="btn-nav step" data-index="3"></button>
</div>
{% endblock %}

{% block footer %}
<p>This is a game, do not take results seriously</p>
{% endblock %}

{% block central %}
<div class="slide instructions">
        <div class="slide-content" >
            <table>
                <tr>
                 <td width="45%">
                    <p>
                        Imagine you are a Cancer Detective.<br>
                        Your objective is to find mutations in tumor samples and extract as much information as possible from them.
                        <br><br>
                        You will get the following information about the mutations found in your sample.
                    </p>
                </td>
                <td>
                <img src="images/slides/card_explanation.png" alt="CancerDetective" style="max-height: 330px;"/>
                </td>
                <td>
                </td>

                </tr>
            </table>

            <div class="buttons-container">
                <div class="floated">
                    <a class="play" onclick="showGame()">Let's start</a>
                </div>
            </div>
        </div>
    </div>




<form id="main-content" action="submit" method="get">
    <div data-index="0">
        <!-- tumor type selection -->
        <div id="cancer-type">
            <div style="display: flex">
                <p class="text-lead" >Sample selection</p>
                <!--<div class="small">
                    <button class="iconify show-modal" data-icon="ion:information-circle-outline" data-inline="false">
                    </button>
                </div>-->

            </div>
            <p>
                Two samples have arrived at the lab: one is labelled as lung cancer and the other one as skin cancer.
                <br>
                To start the analysis, choose one of them
            </p>

            <div class="cards-container">
                <div>
                    {{ card('ttype','SKIN','skin', 'skin.svg', 'Skin cancer', 'Skin cancer develops from the cells that made up the skin') }}
                </div>
                <div>
                    {{ card('ttype','LUNG','lung', 'lung.svg', 'Lung cancer', 'Lung cancer  develops from the cells that made up the lungs') }}
                </div>
            </div>
            <input type="hidden" id="ttype" name="ttype">
        </div>

        <!-- risk factor I -->
        <div class="tab" data-index="1">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type
            </p>

            <p class="text-lead">
                Age
            </p>

            <div class="branch-skin">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_1', 1, 'skin/riskFactor1_1.svg', 'Young',
                        'Generally, cancers of young people have few mutations') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_2', 2, 'skin/riskFactor1_2.svg', 'Middle age',
                        'Generally, cancers of middle age people will have more mutations than those from young people, but less than the elderly') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_3', 3, 'skin/riskFactor1_3.svg','',
                        'Generally, cancers of aged people have more mutations than those of younger age') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_1', 1, 'lung/riskFactor1_1.svg', 'Young',
                        'Mutations accumulate over time. Young people do not have many mutations accumulated.') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_2', 2, 'lung/riskFactor1_2.svg', 'Middle age',
                        'Mutations accumulate over time. Middle aged people do accumulate quite a few.') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_3', 3, 'lung/riskFactor1_3.svg', 'Elderly',
                        'Mutations accumulate over time. Elderly people have a lot of them.') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor1" name="riskFactor1">
        </div>

        <!-- risk factor II -->
        <div class="tab">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type
            </p>

            <div class="branch-skin">

                <p class="text-lead">
                    Sun exposure
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_1', 1, 'skin/riskFactor2_1.svg', 'Low sun exposure', 'The patient exposure to UV radiation is below the average. The number of tumor mutations attributed to sun exposure is likely to be low') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_2', 2, 'skin/riskFactor2_2.svg', 'Moderate sun exposure', 'The patient exposure to UV radiation is on the average. The number of tumor mutations attributed to sun exposure is likely to be moderate') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_3', 3, 'skin/riskFactor2_3.svg', 'High sun exposure', 'The patient exposure to UV radiation is above the average. The number of tumor mutations attributed to sun exposure is likely to be high') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <p class="text-lead">
                    Smoking
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_1', 1, 'lung/riskFactor2_1.svg', 'Non-smoker',
                        'You do not smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_2', 2, 'lung/riskFactor2_2.svg', 'Ocassional',
                        'Every now and then you smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_3', 3, 'lung/riskFactor2_3.svg', 'Regular',
                        'You smoke on a regular basis') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor2" name="riskFactor2">
        </div>

        <!-- risk factor III -->
        <div class="tab">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type.
            </p>

            <div class="branch-skin">
                <p class="text-lead">
                    Sun protection
                </p>
                <br>
                <p style="margin: auto">
                    The number of tumor mutations attributed to sun exposure is likely to be lower those with high protection
                    than those with a low or non-protection.
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_1', 1, 'skin/riskFactor3_1.svg', 'High protection',
                        'Use of high-grade factor sunscreen and sun protective clothes when exposed to UV radiation.') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_2', 2, 'skin/riskFactor3_2.svg', 'Intermediate protection',
                        'Sporadically use of sun protection when exposed to UV radiation.') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_3', 3, 'skin/riskFaactor3_3.svg', 'Low protection',
                        'Not use sunscreen nor protective clothes when exposed to UV radiation.') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <p class="text-lead">
                    Smoking exposure
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_1', 1, 'lung/riskFactor3_1.svg',
                        'Stay apart', 'You keep distance with smokers') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_2', 2, 'lung/riskFactor3_2.svg',
                        'Ocassional passive smoker', 'You are a passive smoker in the terraces') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_3', 3, 'lung/riskFactor3_3.svg',
                        'Passive smoker', 'Close relatives/friends are smoker and you are with them regularly') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor3" name="riskFactor3">
        </div>

    </div>

</form>

<script src="./js/play.js?v=1"></script>
{% endblock %}

