{% extends "layout.html" %}
{% from "utils.html" import info, card %}

{% set active_page = 'play' %}

{% block navbar_middle %}
<div class="slider-nav">
  <button class="btn-nav active step" data-index="0"></button>
  <button class="btn-nav step" data-index="1"></button>
  <button class="btn-nav step" data-index="2"></button>
  <button class="btn-nav step" data-index="3"></button>
</div>
{% endblock %}

{% block footer %}
<p class="uk-flex-inline uk-flex-center uk-margin-remove-bottom">This is a game, do not take results seriously</p>
{% endblock %}

{% block central %}
<form id="main-content" action="submit" method="get">
    <div>

        <!-- tumor type selection -->
        <div id="cancer-type">
            <p class="text-lead">
                Sample selection
                {{ info('ttype') }}
            </p>

            <p>
                Two samples have arrived at the lab: one is labelled as lung cancer and the other one as skin cancer.
                <br>
                To start playing, choose one to analyse
            </p>

            <div class="cards-container">
                <div>
                    {{ card('ttype','SKIN','skin', 'skin.svg', 'Skin cancer', 'Skin cancer develops from the cells that made up the skin') }}
                </div>
                <div>
                    {{ card('ttype','LUNG','lung', 'lung.svg', 'Lung cancer', 'Lung cancer  develops from the cells that made up the lungs') }}
                </div>
            </div>
            <input type="hidden" id="ttype" name="ttype">
        </div>

        <!-- risk factor I -->
        <div class="tab">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type
            </p>

            <p class="text-lead">
                Age
            </p>

            <div class="branch-skin">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_1', 1, 'skin/age_1.svg', 'Very young patient',
                        'Generally, cancers of young people have few mutations') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_2', 2, 'skin/age_2.svg', 'Middle age patient',
                        'Generally, cancers of middle age people will have more mutations than those from young people, but less than the elderly') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_3', 3, 'skin/age_3.svg', 'Aged patient',
                        'Generally, cancers of aged people have more mutations than those of younger age') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_1', 1, 'lung/age_1.svg', 'Young',
                        'Mutations accumulate over time. Young people do not have many mutations accumulated.') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_2', 2, 'lung/age_2.svg', 'Middle age',
                        'Mutations accumulate over time. Middle aged people do accumulate quite a few.') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_3', 3, 'lung/age_3.svg', 'Elderly',
                        'Mutations accumulate over time. Elderly people have a lot of them.') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor1" name="riskFactor1">
        </div>

        <!-- risk factor II -->
        <div class="tab">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type
            </p>

            <div class="branch-skin">

                <p class="text-lead">
                    Sun exposure
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_1', 1, 'skin/sun_1.svg', 'Low sun exposure', 'The patient exposure to UV radiation is below the average. The number of tumor mutations attributed to sun exposure is likely to be low') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_2', 2, 'skin/sun_2.svg', 'Moderate sun exposure', 'The patient exposure to UV radiation is on the average. The number of tumor mutations attributed to sun exposure is likely to be moderate') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_3', 3, 'skin/sun_3.svg', 'High sun exposure', 'The patient exposure to UV radiation is above the average. The number of tumor mutations attributed to sun exposure is likely to be high') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <p class="text-lead">
                    Smoking
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_1', 1, 'lung/smoking_1.svg', 'Non-smoker',
                        'You do not smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_2', 2, 'lung/smoking_2.svg', 'Ocassional',
                        'Every now and then you smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_3', 3, 'lung/smoking_3.svg', 'Regular',
                        'You smoke on a regular basis') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor2" name="riskFactor2">
        </div>

        <!-- risk factor III -->
        <div class="tab">

            <p class="text-lead">
                Patient risk factors
                {{ info('ttype') }}
            </p>

            <p>
                Please, select the level of exposure of your patient to known risk factors of the cancer type
            </p>

            <div class="branch-skin">

                <p class="text-lead">
                    Sun protection
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_1', 1, 'skin/protection_1.svg', 'High protection',
                        'The patient frequently uses high-grade factor sunscreen and sun protective clothes when exposed to UV radiation. The number of tumor mutations attributed to sun exposure is likely to be lower than those with intermediate or no sun protection') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_2', 2, 'skin/protection_2.svg', 'Intermediate protection',
                        'The patient sporadically uses sun protection when exposed to UV radiation. The number of tumor mutations attributed to sun exposure is likely to be lower than those with no sun protection, but higher than those with high protection') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_3', 3, 'skin/protection_3.svg', 'Low protection',
                        'The patient does not use sunscreen nor protective clothes when exposed to UV radiation. The number of tumor mutations attributed to sun exposure is likely to be higher than those that use sun protection') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <p class="text-lead">
                    Age
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_1', 1, 'lung/secondhsmoking_1.svg',
                        'Stay apart', 'You keep distance with smokers') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_2', 2, 'lung/secondhsmoking_2.svg',
                        'Ocassional passive smoker', 'You are a passive smoker in the terraces') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_3', 3, 'lung/secondhsmoking_3.svg',
                        'Passive smoker', 'Close relatives/friends are smoker and you are with them regularly') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor3" name="riskFactor3">
        </div>

    </div>

</form>

{% endblock %}




