{% extends "layout.html" %}
{% from "utils.html" import info, card %}

{% set active_page = 'play' %}

{% block navbar_middle %}
<div class="slider-nav" id="nav">
  <button class="btn-nav active step" data-index="0" onclick="selectStep(event)"></button>
  <button class="btn-nav step" data-index="1"></button>
  <button class="btn-nav step" data-index="2"></button>
  <button class="btn-nav step" data-index="3"></button>
</div>
{% endblock %}

{% block footer %}
<p>This is a game, do not take results seriously</p>
{% endblock %}

{% block central %}
<div class="slide" id="instructions">
        <div class="slide-content" >
            <div style="display: inline-flex; width: 93%;  margin: auto;">
            <p class="sample_arrived">
                A sample has arrived to the lab!<br>
                Imagine you are a cancer detective.<br>
                First, you have to annotate some data from this patient.<br>
                Then, you have to sequence the sample’s DNA to obtain the mutations.<br>
                Finally, you have to find the driver mutations in this sample and the targeted therapy
                that can be used to treat this patient.

            </p>

            <img src="images/slides/fig6_slide.png" alt="CancerDetective" style=" width: 70%""/>
            </div>

            <div class="buttons-container">
                <div class="floated">
                    <a class="play" onclick="showGame()">Let's start</a>
                </div>
            </div>
        </div>
    </div>




<form id="main-content" action="submit" method="get">
    <div data-index="0">
        <!-- tumor type selection -->
        <div id="cancer-type">
            <div style="display: flex">
                <p class="text-lead" >Sample selection</p>
                <!--<div class="small">
                    <button class="iconify show-modal" data-icon="ion:information-circle-outline" data-inline="false">
                    </button>
                </div>-->

            </div>
            <p><!--
                Two samples have arrived at the lab: one is labelled as lung cancer and the other one as skin cancer.
                <br>
                To start the analysis, choose one of them-->
                Select the type of sample you want to analyze:
            </p>

            <div class="cards-container">
                <div>
                    {{ card('ttype','SKIN','skin', 'skin.svg', 'Skin cancer', 'Skin cancer develops from the cells that made up the skin') }}
                </div>
                <div>
                    {{ card('ttype','LUNG','lung', 'lung.svg', 'Lung cancer', 'Lung cancer  develops from the cells that made up the lungs') }}
                </div>
            </div>
            <input type="hidden" id="ttype" name="ttype">
        </div>

        <!-- risk factor I -->
        <div class="tab" data-index="1">

            <p class="text-lead">
                Patient characteristics: Age <br>
                {{ info('ttype') }}
            </p>
            <p class="explanation_exposure">
                Since mutations accumulate over time, older cancer
                <br>  patients tend to present a higher number of mutations.
            </p>
            <p>
                Please, select the age of your patient.
            </p>

            <div class="branch-skin">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_1', 1, 'skin/riskFactor1_1.svg', 'Young',
                        '') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_2', 2, 'skin/riskFactor1_2.svg', 'Middle age',
                        '') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'SKIN_RISK_FACTOR_1_3', 3, 'skin/riskFactor1_3.svg','Elderly',
                        '') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_1', 1, 'lung/riskFactor1_1.svg', 'Young',
                        '') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_2', 2, 'lung/riskFactor1_2.svg', 'Middle age',
                        '') }}
                    </div>
                    <div>
                        {{ card('riskFactor1', 'LUNG_RISK_FACTOR_1_3', 3, 'lung/riskFactor1_3.svg', 'Elderly',
                        '') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor1" name="riskFactor1">
        </div>

        <!-- risk factor II -->
        <div class="tab">

            <div class="branch-skin">
                <p class="text-lead">
                    Patient sun exposure
                    {{ info('ttype') }}
                </p>
                <p class="explanation_exposure">
                    A higher exposure to UV radiation is related <br>
                    to a higher number of mutations. [cite]
                </p>
                <p>
                    Please, select the level of sun exposure of your patient.
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_1', 1, 'skin/riskFactor2_1.svg', 'Low sun exposure',
                        'The patient exposure to UV radiation is below the average.') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_2', 2, 'skin/riskFactor2_2.svg', 'Moderate sun exposure',
                        'The patient exposure to UV radiation is on the average.') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'SKIN_RISK_FACTOR_2_3', 3, 'skin/riskFactor2_3.svg', 'High sun exposure',
                        'The patient exposure to UV radiation is above the average.') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">
                <p class="text-lead">
                    Patient's smoking habits
                    {{ info('ttype') }}
                </p>
                <p class="explanation_exposure">
                    Smokers tend to present a higher number of mutations. [cite]
                </p>
                <p>
                    Please, select the smoking habits of your patient.
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_1', 1, 'lung/riskFactor2_1.svg', 'Non-smoker',
                        'You do not smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_2', 2, 'lung/riskFactor2_2.svg', 'Ocassional',
                        'Every now and then you smoke') }}
                    </div>
                    <div>
                        {{ card('riskFactor2', 'LUNG_RISK_FACTOR_2_3', 3, 'lung/riskFactor2_3.svg', 'Regular',
                        'You smoke on a regular basis') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor2" name="riskFactor2">
        </div>

        <!-- risk factor III -->
        <div class="tab">

            <div class="branch-skin">

                <p class="text-lead">
                    Patient's sun protection
                    {{ info('ttype') }}
                </p>
                <p class="explanation_exposure">
                    The number of tumor mutations attributed to sun exposure  is likely to <br>
                    be lower those with high protection than those with a low or non-protection. [cite]
                </p>
                <p>
                    Please, select the use of sun protection of your patient.
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_1', 1, 'skin/riskFactor3_1.svg', 'High protection',
                        'Use of high-grade factor sunscreen and sun protective clothes when exposed to UV radiation.') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_2', 2, 'skin/riskFactor3_2.svg', 'Intermediate protection',
                        'Sporadically use of sun protection when exposed to UV radiation.') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'SKIN_RISK_FACTOR_3_3', 3, 'skin/riskFactor3_3.svg', 'Low protection',
                        'Not use sunscreen nor protective clothes when exposed to UV radiation.') }}
                    </div>
                </div>
            </div>

            <div class="branch-lung">
                <p class="text-lead">
                    Patient's exposure to smoke
                    {{ info('ttype') }}
                </p>
                <p class="explanation_exposure">
                    A high exposition to smoke can cause mutations in lung cells. [cite]
                </p>
                <p>
                    Please, select the smoke exposition of your patient.
                </p>

                <div class="cards-container">
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_1', 1, 'lung/riskFactor3_1.svg',
                        'Stay apart', 'You keep distance with smokers') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_2', 2, 'lung/riskFactor3_2.svg',
                        'Ocassional passive smoker', 'You are a passive smoker in the terraces') }}
                    </div>
                    <div>
                        {{ card('riskFactor3', 'LUNG_RISK_FACTOR_3_3', 3, 'lung/riskFactor3_3.svg',
                        'Passive smoker', 'Close relatives/friends are smokers and you are with them regularly') }}
                    </div>
                </div>
            </div>

            <input type="hidden" id="riskFactor3" name="riskFactor3">
        </div>

    </div>

</form>

<script src="./js/play.js?v=1"></script>
{% endblock %}

