{% extends "layout.html" %}

{% set active_page = 'resources' %}

{% set ns = namespace(counter=0) %}

{% macro q(is_first=False) %}

    <a name="q{{ ns.counter }}"></a>
    <div>
        <div>
            {{caller()}}
        </div>
    </div>

    {% set ns.counter = ns.counter + 1 %}

{% endmacro %}

{% block central_content %}

    <div class="faq">
            <div class="faq-questions">
                <h3>Resources</h3>
                <div>
                    <div class="qlist">

                        <ul>
                            <li>
                                <ul id="general_questions_list">
                                </ul>
                            </li>
                        </ul>
                    </div>

                    </div>
            </div>

            <section id="general_questions" class="faq-answers">

                {% call q() %}
                    <h3 class="answer">What is <b>Cancer Detective</b>?</h3>
                    <p>
                        <b>Cancer Detective</b> is an analysis simulation based on <a href="https://www.cancergenomeinterpreter.org/home" target="_blank">Cancer Genome Interpreter</a>,
                        for an educational purpose.
                    </p>
                {% endcall %}


                {% call q() %}
                    <h3 class="answer">What are <b>the cells</b>?</h3>
                    <p>
                        The cells are the "building blocks of life", from the Latin cellula 'small room', they are the basic structural, functional, and biological unit of all known organisms.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>the nucleus</b>?</h3>
                    <p>
                        <b>The nucleus</b>  is the “control center of the cell”, a membrane-bound organelle found in eukaryotic cells, enclosed by the nuclear envelope, isolating its contents from the cytoplasm; it contains all of the cell's genome (except for the small amount of mitochondrial DNA), it maintains the integrity of the genes and controls all the activities of the cell.

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>the DNA</b>?</h3>
                    <p>
                        <b>The DNA</b> is a molecule composed of two polynucleotide chains that coil around each other to form a double helix, carrying genetic instructions for the development, functioning, growth and reproduction of all known organisms.

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>a gene </b>?</h3>
                    <p>
                        <b>A gene</b> is a basic unit of heredity and a sequence of nucleotides in DNA or RNA that encodes the synthesis of a gene product, either RNA or protein.

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>the RNA</b>?</h3>
                    <p>
                        <b>The RNA</b> is a molecule composed of one polynucleotide chain, essential in various biological roles in coding, decoding, regulation and expression of genes; cellular organisms use messenger RNA (mRNA) to convey genetic information that directs synthesis of specific proteins.
                    </p>
                {% endcall %}


                {% call q() %}
                    <h3 class="answer">What are <b>the proteins</b>?</h3>
                    <p>
                        <b>The proteins</b> are macromolecules that comprise one or more long chains of amino acid residues, they perform a vast array of functions within organisms; they are assembled from amino acids using information encoded in genes; the information contained in the mRNA is used as a template to synthesize proteins by ribosomes.

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What are the <b>the eukaryotic cells</b>?</h3>
                    <p>
                        <b>Eukaryotesare organisms </b> are those whose cells have a nucleus enclosed within a nuclear envelope.

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>the cytoplasm</b>?</h3>
                    <p>
                        <b>The cytoplasm</b> is  all of the material of eukaryotic cells, enclosed by the cell membrane, except for the cell nucleus; mainly composed of cytosol (a gel-like substance) and the organelles (the cell's internal sub-structures)

                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>Cancer Detective</b>?</h3>
                    <p>
                        <b>Cancer Detective</b> is an analysis simulation based on <a href="https://www.cancergenomeinterpreter.org/home" target="_blank">Cancer Genome Interpreter</a>,
                        for an educational purpose.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>Cancer Detective</b>?</h3>
                    <p>
                        <b>Cancer Detective</b> is an analysis simulation based on <a href="https://www.cancergenomeinterpreter.org/home" target="_blank">Cancer Genome Interpreter</a>,
                        for an educational purpose.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">What is <b>Cancer Detective</b>?</h3>
                    <p>
                        <b>Cancer Detective</b> is an analysis simulation based on <a href="https://www.cancergenomeinterpreter.org/home" target="_blank">Cancer Genome Interpreter</a>,
                        for an educational purpose.
                    </p>
                {% endcall %}

            </section>
    </div>

    <script src="./js/resources.js?v=1"></script>
{% endblock %}