{% extends "layout.html" %}

{% set active_page = 'resources' %}

{% set ns = namespace(counter=0) %}

{% macro q(is_first=False) %}

    <a name="q{{ ns.counter }}"></a>
    <div>
        <div>
            {{caller()}}
        </div>
    </div>

    {% set ns.counter = ns.counter + 1 %}

{% endmacro %}

{% block central_content %}
    <div class="faq">
            <div class="faq-questions">
                <h3>Resources</h3>
                <div>
                    <div class="qlist">
                                <ul id="general_questions_list">
                                    <table>
                                    <tr>
                                    <td>
                                    <li><a href="#q0" class="topic">What is Cancer Detective?</a></li>
                                    <li><a href="#q1" class="topic">Cells</a></li>
                                        <ul>
                                            <li><a href="#q2">Nucleus</a></li>
                                            <li><a href="#q3">Cytoplasm</a></li>
                                            <li><a href="#q4">Ribosomes</a></li>
                                        </ul>
                                    <li><a href="#q5" class="topic">The genome</a></li>
                                        <ul>
                                            <li><a href="#q6">DNA</a></li>
                                            <li><a href="#q7">Genes</a></li>
                                            <li><a href="#q8">RNA</a></li>
                                        </ul>
                                    <li><a href="#q9" class="topic">The proteins</a></li>
                                    </td>
                                    <td>
                                    <li><a href="#q10" class="topic">The mutations</a></li>
                                        <ul>
                                            <li><a href="#q11">Mutational processes</a></li>
                                        </ul>
                                    <li><a href="#q12" class="topic">Cancer </a></li>
                                        <ul>
                                            <li><a href="#q13">Cancer driver mutations</a></li>
                                            <li><a href="#q14">Cancer driver genes</a></li>
                                        </ul>
                                    <li><a href="#q15" class="topic">Tumors </a></li>
                                    <li><a href="#q16" class="topic">Selective advantage </a></li>
                                    <li><a href="#q17" class="topic">Precision cancer medicine </a></li>
                                        <ul>
                                            <li><a href="#q18">Targeted therapies</a></li>
                                        </ul>
                                    </td>
                                    <td>
                                    <li><a href="#q19" class="topic">Biopsy </a></li>
                                    <li><a href="#q20" class="topic">Bioinformatics </a></li>
                                        <ul>
                                            <li><a href="#q21">Machine learning</a></li>
                                            <li><a href="#q22">Algorithms</a></li>
                                        </ul>
                                        <li><a href="#q23" class="topic">BBGLab bioinformatic tools </a></li>
                                        <ul>
                                            <li><a href="#q24">IntOGen</a></li>
                                            <li><a href="#q25">BoostDM</a></li>
                                            <li><a href="#q26">The cancer genome interpreter</a></li>
                                        </ul>
                                    </td>
                                    </tr>
                                    </table>
                                </ul>

                    </div>


                </div>

            </div>

        <div style="text-align: center">
            <a href="images/resources.pdf" target="_blank"  class="download_results">Download definitions in PDF</a>
        </div>

            <section id="general_questions" class="faq-answers">

                {% call q() %}
                    <h3 class="answer" >What is <b>Cancer Detective</b>?</h3>
                    <p>
                        <b>Cancer Detective</b> is an analysis simulation based on <a href="https://www.cancergenomeinterpreter.org/home" target="_blank">Cancer Genome Interpreter</a>,
                        for an educational purpose.
                    </p>
                {% endcall %}


                {% call q() %}
                    <h3 class="answer"> <b>Cells</b></h3>
                    <p>
                        <b>The cells</b> are the "building blocks of life", from the Latin cellula 'small room', they are the basic structural, functional, and biological unit of all known organisms.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>The nucleus</b> is the “control center of the cell”, a membrane-bound organelle found in eukaryotic cells, enclosed by the nuclear envelope,
                        isolating its contents from the cytoplasm; it contains all of the cell's genome (except for the small amount of mitochondrial DNA),
                        it maintains the integrity of the genes and controls all the activities of the cell.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>The cytoplasm</b> is  all of the material of eukaryotic cells, enclosed by the cell membrane,
                        except for the cell nucleus; mainly composed of cytosol (a gel-like substance) and the organelles (the cell's internal sub-structures).
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>The ribosomes</b> macromolecular machines that perform biological protein synthesis (mRNA translation).
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">The <b>genome</b></h3>
                    <p>
                        <b>The genome</b> comprises all genetic information of an organism, consisting of nucleotide sequences of DNA (or RNA in RNA viruses).
                    </p>
                {% endcall %}


                {% call q() %}
                    <p>
                        <b>The DNA</b> is a molecule composed of two polynucleotide chains that coil around each other to form a double helix,
                        carrying genetic instructions for the development, functioning, growth and reproduction of all known organisms.
                    </p>
                {% endcall %}


                {% call q() %}
                    <p>
                        <b>A gene</b> is a basic unit of heredity and a sequence of nucleotides in DNA or RNA that encodes the synthesis of a gene product, either RNA or protein.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>The RNA</b> is a molecule composed of one polynucleotide chain, essential in various biological roles in coding, decoding,
                        regulation and expression of genes; cellular organisms use messenger RNA (mRNA) to convey genetic information that directs synthesis of specific proteins.
                    </p>
                {% endcall %}


                {% call q() %}
                    <h3 class="answer">The <b> proteins</b></h3>
                    <p>
                        <b>The proteins</b> are macromolecules that comprise one or more long chains of amino acid residues,
                        they perform a vast array of functions within organisms; they are assembled from amino acids using information encoded in genes;
                        the information contained in the mRNA is used as a template to synthesize proteins by ribosomes.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">The <b> mutations</b></h3>
                    <p>
                        <b>Mutations </b>  are errors or changes in the DNA sequence of cells.
                        Mutations are naturally occurring in the cells of our bodies.
                        Most mutations do not have an effect, although some can alter the function of proteins.
                    </p>
                {% endcall %}


                {% call q() %}
                    <p>
                        <b>The mutational processes </b> are a set of mechanisms that introduce mutations in the DNA.
                        They can be classified as external (exogenous) or internal (endogenous) processes according to their origin.
                        <b>External mutational</b> processes are caused by agents that originate outside our bodies such as tobacco smoking or UV light.
                        <b>Internal mutational</b> processes are caused by mechanisms inside the tissues and cells inside our bodies.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Cancer </b></h3>
                    <p>
                        <b>Cancer </b>  is the name of a group of diseases characterized by the uncontrolled growth and proliferation of cells within the body.
                        Cancer cells can divide without control and invade organs and tissues, causing metastasis.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>Cancer driver mutations </b> are mutations that confer selective advantage to the cells bearing them, allowing them to survive and proliferate more.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>Cancer driver genes </b> are  genes or proteins that are affected by cancer driver mutations.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Tumors </b></h3>
                    <p>
                        <b>A tumor </b> is a mass of cells, that can be benign (lacking the ability to either invade neighboring tissue or spread throughout the body) or malignant (cancer).
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Selective advantage </b></h3>
                    <p>
                        Regarding cells, <b>the selective advantage </b> refers to the characteristic that enables them to survive and proliferate better than other cells in a population
                        in a given environment; the basis for evolution by natural selection.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Precision cancer medicine </b></h3>
                    <p>
                        <b>Precision cancer medicine </b> is a form of medical care that uses information about a patient’s own genes or proteins (molecular profiling)
                        to prevent, diagnose, or treat cancer.
                    </p>
                {% endcall %}
                {% call q() %}
                    <p>
                        <b>Targeted therapies  </b> are the type of treatments that use drugs or other substances to identify and attack specific
                        types of cancer cells with less harm to normal cells.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Biopsy </b></h3>
                    <p>
                        <b>A biopsy </b> is a removal of cells or tissues for examination by a pathologist; the most common types include:
                        (1) <b>incisional biopsy</b>, in which only a sample of tissue is removed;
                        (2) <b>excisional biopsy</b>, in which an entire lump or suspicious area is removed;
                        and (3) <b>needle biopsy</b>, in which a sample of tissue or fluid is removed with a needle.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> Bioinformatics </b></h3>
                    <p>
                        <b>Bioinformatics </b> is the field of science that uses computers, databases, math,
                        and statistics to collect, store, organize, and analyze large amounts of biological, medical, and health information.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>Machine learning </b> is the use and development of computer systems that are able to learn and adapt without following explicit instructions,
                        by using algorithms and statistical models to analyse and draw inferences from patterns in data.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>An algorithm </b> is a process or set of rules to be followed in calculations or other problem-solving operations, especially by a computer.
                    </p>
                {% endcall %}

                {% call q() %}
                    <h3 class="answer">  <b> BBGLab bioinformatic tools </b></h3>
                    <p>
                        <b>IntOGen </b>  is a unified resource that merges information from different statistical methods and identifies cancer driver proteins.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>BoostDM </b> is a machine learning algorithm that can predict which mutations within cancer driver proteins are actually driver mutations.
                    </p>
                {% endcall %}

                {% call q() %}
                    <p>
                        <b>The Cancer Genome Interpreter </b> is a algorithm that uses the data generated by IntOGen and other resources to inform us whether
                        a mutation in a protein is a cancer driver and if there is a specific therapy for cancers with this alteration.

                    </p>
                {% endcall %}
            </section>
    </div>
    <br>
    <script src="./js/resources.js"></script>
{% endblock %}