
{% extends "base.html" %}
{% macro navbar_item(text, active_page, link) %}
    <li>
    {% if active_page == link %}
        <a>
            {{ text }}
        </a>
    {% else %}
        <a class="nav-item" href="{{ link }}" id="{{ link }}">
            {{ text }}
        </a>
    {% endif %}
    </li>
{% endmacro %}

{% macro info(id) %}
     <!--<div class="modal hidden">
      <button class="close-modal">&times;</button>
      <h1>I'm a modal window 😍</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
    <div class="overlay hidden"></div>-->
{% endmacro %}

{% macro card(type, id, value, image, title, text) %}
  <div class="card" id="{{ id }}" onclick="selectCard(event)">
    <div class="card-face card-face-front">
        <img src="images/{{ image }}" alt="">
    </div>
    <div class="card-face card-face-back">
        <div>
            <h3 class="card-title">
                {{ title }}
            </h3>
        </div>
        <div class="card-text">
            {{ text }}
        </div>
        <div>
            <div class="card-select" data-value="{{ value }}" data-type="{{ type }}">
                Select</div>
        </div>
    </div>
  </div>
{% endmacro %}

{% macro mutation_card(mut) %}

    <div class="card-mutations">
        <dl>
            <dt>
	    Gene
            </dt>
            <dd>
                <a target='_tab' href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ mut['gene'] }}'
                    style="color: #F18914">
                    <strong>{{ mut['gene'] }}</strong>
                </a>
            </dd>
            <dt>
                Protein change
            </dt>
            <dd>
                <!--TODO chr and position-->
		<!--                <span class='uk-badge' style='background-color: {{ mut['color'] }}; color: white'>{{ mut['aa_change'] }}</span> -->
                <span class='badge' style='background-color: yellow; color: black'>{{ mut['aa_change'] }}</span>
            </dd>
            <dt>
                Impact
            </dt>
            <dd>
                {% if  mut['driver_passenger']  == 'driver' %}
                <span class='badge' style='background-color: palevioletred; color: black'>{{ mut['driver_passenger'] }}</span>
            {% else %}
                <span class='badge' style='background-color: #d3d3d3; color: black'>{{ mut['driver_passenger'] }}</span>
            {% endif %}
            </dd>
            <dt>
                Treatment
            </dt>
            <dd>
            {% if  mut['targeted_therapy']  == 'None' %}
                <span class='badge' style='background-color: #cde5fa; color: black'>{{ mut['targeted_therapy'] }}</span>
            {% else %}
                <span class='badge' style='background-color: #00bfff; color: black'>{{ mut['targeted_therapy'] }}</span>
            {% endif %}
            </dd>
        </dl>
    </div>

{% endmacro %}
